.home1ServicesBottomCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  position: relative;
  text-align: center;
  padding: 40px;
  text-decoration: none;
}
.home1ServicesBottomCard:hover {
  text-decoration: none;
}
.home1ServicesBottomCardImg {
  width: 40%;
}
.home1ServicesBottomCardHeading {
  color: #233d63;
  font-size: 20px;
  font-weight: 500;
}
.home1ServicesBottomCardDetail {
  color: #8796ac;
  font-size: 14px;
  font-weight: 300;
}
@media (max-width: 900px) {
  .home1ServicesBottomCard {
    padding: 20px;
  }
  .home1ServicesBottomCardHeading {
    font-size: 18px;
  }
  .home1ServicesBottomCardDetail {
    font-size: 14px;
  }
}
@media (max-width: 700px) {
  .home1ServicesBottomCard {
    width: 90%;
    padding: 10px;
  }
}
@media (max-width: 420px) {
  .home1ServicesBottomCardHeading {
    font-size: 14px;
  }
  .home1ServicesBottomCardDetail {
    font-size: 12px;
  }
  .home1ServicesBottomCard {
    width: 100%;
    margin: 0 0px 20px 0px;
  }
}
