.home1Client {
  padding-top: 100px;
  background-color: #4a7ced;
}
.home1Client_top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home1Client_topHeading {
  color: #ffbe56;
  font-size: 44px;
  font-weight: 600;
}
.home1Client_topDetail {
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  width: 50vw;
}
.home1Client_bottom {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  margin-right: -20px;
  padding-bottom: 140px;
}
.home1Client_bottomCard {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
  text-align: center;
  display: block;
  border-radius: 10px;
  padding: 35px 30px;
  margin-right: 30px;
}
.home1Client_bottomCardReview {
  color: #8796ac;
  font-size: 13px;
  font-weight: 300;
  font-style: italic;
  padding-bottom: 10px;
}
.home1Client_bottomCardImg {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.home1Client_bottomCardName {
  padding-top: 20px;
  color: #233d63;
  font-size: 18px;
  font-weight: 500;
}
.home1Client_bottomCardPro {
  color: #7a8390;
  font-size: 14px;
  font-weight: 400;
  margin-top: -14px;
}
.home1Client_divBottom {
  transform: rotate(180deg);
  left: 0;
  width: 100%;
  background-color: #4a7ced;
}
.home1Client_divBottomSvg {
  width: calc(180% + 1.3px);
  overflow: hidden;
  height: 130px;
  margin-left: -500px;
}
.home1Client_divBottomSvgPath {
  fill: #fff;
  transform-origin: center;
  transform: rotateY(0deg);
}
@media (max-width: 900px) {
  .home1Client {
    padding-top: 50px;
  }
  .home1Client_topHeading {
    font-size: 38px;
  }
  .home1Client_topDetail {
    font-size: 16px;
    width: 90vw;
  }
  .home1Client_bottom {
    padding-bottom: 100px;
  }
}
@media (max-width: 700px) {
  .home1Client_bottom {
    padding-top: 50px;
    flex-direction: column;
    padding-left: 9%;
    margin-right: -7%;
  }
  .home1Client_bottomCard {
    width: 85%;
    margin-bottom: 20px;
  }
}
@media (max-width: 420px) {
  .home1Client {
    padding-top: 30px;
  }
  .home1Client_topHeading {
    font-size: 30px;
  }
  .home1Client_topDetail {
    font-size: 14px;
    width: 90vw;
  }
}
