.home1AboutUs {
  background-color: #4a7ced;
}
.home1AboutUs_main {
  padding: 50px 10px;
}
.home1AboutUs_div {
  transform: rotate(180deg);
}
.home1AboutUs_divSvg {
  width: calc(100% + 1.3px);
  height: 120px;
}
.home1AboutUs_divSvgPath {
  fill: #fff;
  transform-origin: center;
  transform: rotateY(0deg);
}
.home1AboutUs_main {
  display: flex;
  justify-content: space-between;
}
.home1AboutUs_mainLeft {
  width: 47.984%;
  padding-bottom: 20px;
}
.home1AboutUs_mainLeftHeading {
  color: #ffbe56;
  font-size: 44px;
  font-weight: 600;
}
.home1AboutUs_mainLeftDetail {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
}
.home1AboutUs_mainLeftList {
  padding-bottom: 20px;
}
.home1AboutUs_mainLeftItems {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 5px;
}
.home1AboutUs_mainLeftItemsIcon {
  color: #ffbe56;
  font-size: 15px;
  margin-right: 7px;
}
.home1AboutUs_mainLeftButton {
  font-weight: 400;
  background-color: #ffbe56;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 40px;
  margin-top: 20px;
  padding: 12px 40px;
  margin-right: 20px;
}
.home1AboutUs_mainLeftPlayButton {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
}
.home1AboutUs_mainLeftPlayButtonIcon {
  width: 50px;
  height: 50px;
  color: #ffffff;
  background-color: #ffbe56;
  border-radius: 50%;
  padding: 18px;
  overflow: visible;
}
.home1AboutUs_mainLeftPlayButton:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: #ffbe56 solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.home1AboutUs_mainLeftPlayButton:hover:before {
  -webkit-animation-name: AkPulse;
  animation-name: AkPulse;
}
@-webkit-keyframes AkPulse {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@keyframes AkPulse {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
.home1AboutUs_mainLeftPlayButtonRightText {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  padding-left: 10px;
}
.home1AboutUs_mainRight {
  width: 52.016%;
  position: relative;
}
.home1AboutUs_mainRightImg {
  position: absolute;
  width: 100%;
  max-width: 550px;
  right: 0;
}

@media (max-width: 900px) {
  .home1AboutUs_main {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .home1AboutUs_mainLeft {
    width: 90%;
    padding-bottom: 0px;
    padding-top: 50px;
  }
  .home1AboutUs_mainLeftHeading {
    font-size: 38px;
  }

  .home1AboutUs_mainRight {
    width: 70%;
  }
  .home1AboutUs_mainRightImg {
    position: unset;
    max-width: 100%;
  }
}
@media (max-width: 430px) {
  .home1AboutUs_mainLeft {
    padding-top: 20px;
  }
  .home1AboutUs_mainLeftHeading {
    font-size: 24px;
  }
  .home1AboutUs_mainLeftDetail {
    font-size: 12px;
  }
  .home1AboutUs_mainLeftList {
    padding-bottom: 10px;
  }
  .home1AboutUs_mainLeftItems {
    font-size: 12px;
  }
  .home1AboutUs_mainLeftButton {
    font-size: 12px;
    padding: 8px 20px;
    margin-right: 10px;
  }
  .home1AboutUs_mainLeftPlayButtonIcon {
    width: 33px;
    height: 33px;
    padding: 10px;
  }
  .home1AboutUs_mainLeftPlayButtonRightText {
    font-size: 12px;
  }
}
