.home1Faq {
  display: flex;
  justify-content: space-between;
  padding: 50px 10px 100px 10px;
}
.home1Faq_left {
  position: relative;
  width: 44.031%;
}
.home1Faq_leftImg {
  padding: 100px 0 50px 0;
  position: absolute;
  width: 100%;
  max-width: 600px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  object-fit: cover;
}
.home1Faq_right {
  width: 55.969%;
  padding: 10px 10px 10px 60px;
}
.home1Faq_rightHeading {
  color: #233d63;
  font-size: 44px;
  font-weight: 600;
}
.home1Faq_rightDetail {
  color: #8796ac;
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 30px;
}
.home1Faq_rightFaqSec {
  padding-bottom: 30px;
}
.home1Faq_rightFaqSec hr {
  color: #8796ac;
  margin-top: -6px;
}
.home1Faq_rightQue {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.home1Faq_rightQueTitle {
  font-size: 14px;
  font-weight: 500;
  color: #233d63;
  text-decoration: none;
}
.home1Faq_rightQueIcon {
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  color: #ffbe56;
}
.home1Faq_rightButton {
  background-color: #ffbe56;
  border-radius: 40px;
  padding: 15px 40px;
  color: #fff;
}
.home1Faq_rightAns {
  display: none;
  color: #8796ac;
  font-size: 14px;
  font-weight: 300;
  /* position relative Then transition */
}
.home1Faq_rightQue:hover + .home1Faq_rightAns {
  display: block;
}
@media (max-width: 900px) {
  .home1Faq {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 100px 10px;
  }
  .home1Faq_left {
    width: 70%;
  }
  .home1Faq_leftImg {
    padding: 50px 0 0 0;
    position: unset;
    width: 100%;
    max-width: 100%;
  }
  .home1Faq_right {
    width: 90%;
    padding: 50px 0 0 0;
    text-align: center;
  }
  .home1Faq_rightAns {
    text-align: left;
  }
}
@media (max-width: 700px) {
  .home1Faq_rightHeading {
    font-size: 38px;
  }
  .home1Faq_rightDetail {
    font-size: 14px;
    padding-bottom: 10px;
  }
}
@media (max-width: 420px) {
  .home1Faq_rightHeading {
    font-size: 34px;
  }
  .home1Faq_rightDetail {
    font-size: 12px;
  }
  .home1Faq_rightFaqSec hr {
    margin-top: -3px;
  }
  .home1Faq_rightQue {
    text-align: left;
    padding-top: 0px;
  }
  .home1Faq_rightQueTitle {
    font-size: 14px;
  }
  .home1Faq_rightQueIcon {
    font-size: 25px;
  }
  .home1Faq_rightButton {
    font-size: 14px;
    padding: 8px 20px;
  }
  .home1Faq_rightAns {
    font-size: 12px;
  }
}
