.ourTeamPeople {
  padding: 100px 0;
}
.ourTeamPeople_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ourTeamPeople_topHeading {
  color: #233d63;
  font-size: 44px;
  font-weight: 600;
}
.ourTeamPeople_topDetail {
  text-align: center;
  color: #8796ac;
  font-size: 16px;
  font-weight: 300;
}
.ourTeamPeople_Bottom {
  padding: 30px 10px;
  margin-right: -40px;
}
.ourTeamPeople_BottomRow {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .ourTeamPeople {
    padding: 50px 0;
  }
  .ourTeamPeople_topHeading {
    font-size: 38px;
  }
  .ourTeamPeople_topDetail {
    font-size: 14px;
  }
}
@media (max-width: 420px) {
  .ourTeamPeople_topHeading {
    font-size: 24px;
  }
  .ourTeamPeople_topDetail {
    font-size: 12px;
    width: 90%;
  }
  .ourTeamPeople_Bottom {
    padding: 0px 20px;
    margin-right: 0px;
  }
  .ourTeamPeople_BottomRow {
    padding: 0px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
