.ourTeamJoin {
  display: flex;
  justify-content: space-between;
  padding: 100px 10px;
}
.ourTeamJoinLeft {
  width: 50%;
  padding: 100px 70px 100px 0px;
}
.ourTeamJoinLeftHeading {
  color: #233d63;
  font-size: 44px;
  font-weight: 600;
}
.ourTeamJoinLeftDetail {
  color: #8796ac;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 50px;
}
.ourTeamJoinLeftButton {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #ffbe56;
  border-radius: 40px;
  padding: 15px 40px;
}
.ourTeamJoinRight {
  width: 50%;
  position: relative;
}
.ourTeamJoinRightImg {
  position: absolute;
  width: 100%;
  max-width: 600px;
  object-fit: cover;
  right: 0;
}
@media (max-width: 900px) {
  .ourTeamJoin {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0px;
  }
  .ourTeamJoinLeft {
    width: 90%;
    padding: 0px 0px 0px 0px;
  }
  .ourTeamJoinLeftHeading {
    font-size: 38px;
  }
  .ourTeamJoinLeftDetail {
    font-size: 14px;
  }
  .ourTeamJoinLeftButton {
    font-size: 14px;
    padding: 8px 20px;
  }
  .ourTeamJoinRight {
    width: 70%;
    margin-top: 50px;
  }
  .ourTeamJoinRightImg {
    position: unset;
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 420px) {
  .ourTeamJoinLeft {
    width: 90%;
    padding: 0px 0px 0px 0px;
  }
  .ourTeamJoinLeftHeading {
    font-size: 24px;
  }
  .ourTeamJoinLeftDetail {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .ourTeamJoinLeftButton {
    font-size: 12px;
  }
}
