.services_Why {
  background-color: #4a7ced;
}
.services_WhyMain {
  padding: 50px 0;
}
.services_Why_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services_Why_topHeading {
  color: #ffbe56;
  font-weight: 600;
  font-size: 44px;
}
.services_Why_topDetail {
  width: 50%;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
}
.services_Why_bottom {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.services_Why_bottomLeft {
  position: relative;
  width: 50%;
}
.services_Why_bottomLeftImg {
  position: absolute;
  width: 100%;
  max-width: 600px;
  left: 0;
  object-fit: cover;
  padding: 20px 20px;
}
.services_Why_bottomRight {
  width: 50%;
  padding: 10px 30px;
  margin-left: 20px;
}
@media (max-width: 900px) {
  .services_Why_topHeading {
    font-size: 38px;
  }
  .services_Why_topDetail {
    width: 90%;
    font-size: 14px;
  }
  .services_Why_bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services_Why_bottomLeft {
    width: 70%;
  }
  .services_Why_bottomLeftImg {
    position: unset;
    width: 100%;
    max-width: 100%;
  }
  .services_Why_bottomRight {
    width: 90%;
    padding: 50px 20px;
    margin-left: 0px;
  }
}
@media (max-width: 420px) {
  .services_Why_bottomLeft {
    display: none;
  }
  .services_Why_topHeading {
    font-size: 24px;
  }
  .services_Why_topDetail {
    font-size: 12px;
  }
  .services_Why_bottomRight {
    padding: 0px 20px;
  }
}
