.services_Our {
  padding: 100px 0;
}
.services_OurTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services_OurTopHeading {
  color: #233d63;
  font-size: 44px;
  font-weight: 600;
}
.services_OurTopDetail {
  width: 50%;
  text-align: center;
  color: #8796ac;
  font-size: 16px;
  font-weight: 300;
}
.services_OurBottom {
  padding-top: 50px;
}
.services_OurBottomRow {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  margin-right: -20px;
}
@media (max-width: 900px) {
  .services_OurTopHeading {
    font-size: 38px;
  }
  .services_OurTopDetail {
    width: 90%;
    font-size: 14px;
  }
}
@media (max-width: 430px) {
  .services_OurTopHeading {
    font-size: 24px;
  }
  .services_OurTopDetail {
    font-size: 12px;
  }
  .services_OurBottomRow {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
  }
}
