.singleServiceWorks {
  padding: 100px 10px;
}
.singleServiceWorks_top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.singleServiceWorks_topHeading {
  color: #233d63;
  font-size: 44px;
  font-weight: 600;
}
.singleServiceWorks_topDetail {
  width: 50%;
  color: #8796ac;
  font-size: 16px;
  font-weight: 300;
}
.singleServiceWorks_bottom {
  margin-right: -50px;
}
.singleServiceWorks_bottomRow {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
@media (max-width: 900px) {
  .singleServiceWorks_topHeading {
    font-size: 38px;
  }
  .singleServiceWorks_topDetail {
    width: 90%;
  }
}
@media (max-width: 700px) {
  .singleServiceWorks_topHeading {
    font-size: 34px;
  }
  .singleServiceWorks_topDetail {
    font-size: 14px;
  }
  .singleServiceWorks_bottomRow {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
  }
}
@media (max-width: 430px) {
  .singleServiceWorks {
    padding: 50px 10px;
  }
  .singleServiceWorks_topHeading {
    font-size: 24px;
  }
  .singleServiceWorks_topDetail {
    font-size: 12px;
  }
  .singleServiceWorks_bottom {
    margin-top: 30px;
  }
}
