.aboutWhyCard {
  display: flex;
}
.aboutWhyCard_Icon {
  background-color: #ffffff;
  color: #5355ee;
  padding: 12px;
  border-radius: 50%;
  display: block;
  margin-right: 20px;
}
.aboutWhyCard_rightHeading {
  font-size: 20px;
  font-weight: 500;
  color: #ffbe56;
}
.aboutWhyCard_rightDetails {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
}
@media (max-width: 900px) {
  .aboutWhyCard {
    width: 80vw;
  }
  .aboutWhyCard_Icon {
    padding: 14px;
    width: 4em;
    height: 4em;
    margin-right: 20px;
  }
}
@media (max-width: 420px) {
  .aboutWhyCard_Icon {
    padding: 10px;
    width: 4em !important;
    height: 2.8em;
    margin-right: 20px;
  }
}
