.pricingChoosePlan_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pricingChoosePlan_topHeading {
  color: #233d63;
  font-size: 44px;
  font-weight: 600;
}
.pricingChoosePlan_topDetail {
  width: 50%;
  text-align: center;
  color: #8796ac;
  font-size: 16px;
  font-weight: 300;
}
.pricingChoosePlan_bottom {
  display: flex;
  justify-content: space-between;
  padding: 50px 10px;
  margin-right: -50px;
}
@media (max-width: 900px) {
  .pricingChoosePlan_topHeading {
    font-size: 38px;
  }
  .pricingChoosePlan_topDetail {
    width: 80%;
  }
  .pricingChoosePlan_bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    margin-right: 0px;
    margin-top: 50px;
  }
}
@media (max-width: 430px) {
  .pricingChoosePlan_top {
    padding-top: 50px;
  }
  .pricingChoosePlan_bottom {
    margin-top: 20px;
  }
  .pricingChoosePlan_topHeading {
    font-size: 24px;
  }
  .pricingChoosePlan_topDetail {
    font-size: 12px;
  }
}
