.blogPage_mainRightRecentCardInnerCard {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.blogPage_mainRightRecentCardInnerCardLeft {
  position: relative;
  height: auto;
  width: 30%;
  margin: 0 40px 10px 0;
}
.blogPage_mainRightRecentCardInnerCardLeftImg {
  position: absolute;
  height: 100%;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.blogPage_mainRightRecentCardInnerCardRight {
  width: 70%;
}
.blogPage_mainRightRecentCardInnerCardRightHeading {
  font-size: 14px;
  font-weight: 500;
  color: #233d63;
  text-decoration: none;
}
.blogPage_mainRightRecentCardInnerCardRightDate {
  font-size: 10px;
  font-weight: 300;
  padding: 10px 0px 0px 10px;
  color: #b0b0b0;
  margin-top: -20px;
}
