.blogPage_mainRightRecentCardInnerCard {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.blogPage_mainRightRecentCardInnerCardLeft {
  position: relative;
  width: 30%;
}
.blogPage_mainRightRecentCardInnerCardLeftImg {
  position: absolute;
  width: 100%;
  max-width: 90px;
  object-fit: cover;
}
.blogPage_mainRightRecentCardInnerCardRight {
  width: 70%;
}
.blogPage_mainRightRecentCardInnerCardRightHeading {
  font-size: 14px;
  font-weight: 500;
  color: #233d63;
  text-decoration: none;
}
.blogPage_mainRightRecentCardInnerCardRightDate {
  font-size: 10px;
  font-weight: 300;
  padding: 10px 0px 0px 10px;
  color: #b0b0b0;
  margin-top: -20px;
}
@media (max-width: 900px) {
}
@media (max-width: 700px) {
}
@media (max-width: 420px) {
}
